body {
  display: flex;
  flex-direction: row;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#left {
  height: 100vh;
  width: 50vw;
  background-color: #131334;
  margin: 0;
}

#inner-left {
  height: 60vh;
  width: 30vw;
  background-color: #69baba;
  position: absolute;
  top: 20%;
  right: 50%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

#github-logo {
  position: absolute;
  top: 2.5%;
  left: 1%;
  height: 50px;
  width: 50px;
  filter: invert(100%);
}

#logo {
  color: white;
  font-size: 100px;
  transform: rotate(270deg);
  position: absolute;
  left: 58%;
  top: 24%;
  font-weight: bold;
}

#inner-left:hover #hoverShow1 {
  display: block;
}

#inner-left:hover #logo {
  left: 0%;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#inner-left #hoverShow1 {
  display: none;
  position: absolute;
  width: 275px;
  height: 250px;
  left: 215px;
  top: 165px;
  color: white;
  text-align: center;
  font-size: 18px;
}

#right {
  height: 100vh;
  width: 50vw;
  background-color: #dbfafaff;
  margin: 0;
}

#inner-right {
  height: 60vh;
  width: 45vw;
  background-color: #ffe082;
  position: absolute;
  top: 20%;
  left: 50%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

#video {
  position: absolute;
  top: 22%;
  left: 16%;
}

#link {
  margin-left:20%;
  color:#ffffff;
  font-size:40px;
}

#icon {
  margin-top: 5%
}
